---
import ServiceLeft from "./ServiceLeft.astro";
import {services} from './services'
import ServiceRight from "./ServiceRight.astro";
---
<section id="sluzby">
    <div id="heading-background">
        <h2>Naše služby</h2>
    </div>
    <div id="services-list">
        {services.map((service, i) =>  {
            if(i%2 === 1) {
                return <ServiceRight image={service.image} title={service.title} text={service.text} path={service.path} />
            }
            return <ServiceLeft image={service.image} title={service.title} text={service.text} path={service.path} />
            })
        }
    </div>
</section>
<style>
    #services {
        width: 100vw;
    }
    h2 {
        text-align: center;
        font-size: 28px;
        color: var(--green-dark);
    }
    #heading-background{
        width: 100%;
        padding: 80px 0 120px;
        background-color: var(--background-light-blue);
        box-shadow: inset white -80px 0 50px 50px;
    }
    #services-list {
        position: relative;
        bottom: 72px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    @media (max-width: 1150px) {
        #services-list {
            gap: 116px;
            margin-top: 40px;
        }
    }
</style>